:root {
  --primary-color: #0288D1;
  --secondary-color: #03A9F4;
  --accent-color: #00BCD4;
  --icon-color: #FFFFFF;
  --text-color: #757575;
  --divider-color: #BDBDBD;
}

h1 {
  font-family: 'Lato';
  font-size: 3rem;
  margin: 1rem 0 1rem 0;
  font-weight: 100
}

 h2, h3 {
  font-family: 'Lato';
  font-size: 2rem;
  margin: 0.5rem 0 0.5rem 0;
  font-weight: 200;
}

h4 {
  font-family: 'Lato';
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: darkslategrey
}

p {
  font-size: 1rem;
  margin: 0.5rem 0 0.5rem 0;
}

.App {
  padding: 0 0 5rem 0 ;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--primary-color);
  color: white;
  padding: 2rem;
  font-size: 2rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
  0 3px 6px rgba(0, 0, 0, 0.23);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  margin: 2rem;
}