:root {
  --primary-color: #4a26fd;
  --secondary-color: #3F51B5;
  --tertiary-color: #455A64;
  --accent-color: #E91E63;
}

.App {
  padding: 0 0 5rem 0 ;
  display: flex;
  flex-flow: column nowrap;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  background-color: var(--secondary-color);
  color: white;
  padding: 4rem;

  font-size: 3rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
  0 3px 6px rgba(0, 0, 0, 0.23);
}