:root {
  --primary-color: #4a26fd;
  --secondary-color: #3F51B5;
  --tertiary-color: #03A9F4;
  --accent-color: #E91E63;
}

.App {
  background:whitesmoke;
  max-width: 100vw;
  max-height: 100vh;
}


.project-tray {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  overflow: auto;
  height: 80vh;
  padding-bottom: 2rem;
  box-shadow: 0 3px 6px rgba(235, 186, 186, 0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.user-tray {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-bottom: 2rem;
}

.bio-box {
  margin: 1rem;
  min-height: 20rem;
  color: var(--primary-color);
  display: flex;
  flex-flow: row nowrap;
  background: white;
  align-items: stretch;
  font-size: 1rem;
  border-radius: 1rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
}

.bio-text {
  margin: 1rem 4rem 1rem 1rem;
  min-width: 5rem;
}

.video {
  max-height: 20rem;
  overflow: hidden;
  width:100%;
  height:100%;
  border-radius: 1rem 0rem 0rem 1rem ;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .bio-box {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .bio-box {
    flex: 100%;
    max-width: 100%;
  }
}